/*
  改变主题色变量
  https://www.figma.com/file/MBMn1mmldpOCKvvaLU06M0/Meta-Being-UI?node-id=288%3A2284
*/
$--color-white: #ffffff;
$--color-black: #35466D;

$--color-primary-red: #f84343;
$--color-primary-blue: #DCFF1C;
$--color-primary-gray: #f3f5fA;

$--color-secondary-red: #830000;
$--color-secondary-blue: #CDE354;
$--color-secondary-blue: #A6B256;
$--color-secondary-gray: #dfe4ef;

$--color-cover-blue: #889635;

$--color-primary: $--color-primary-blue;
$--el-color-primary: $--color-primary-blue;

/* 改变 icon 字体路径变量，必需 */
$--font-path:'element-plus/lib/theme-chalk/fonts';

// @import 'element-plus/packages/theme-chalk/src/index';
@import './custom-button.scss';
@import './custom-input.scss';
@import './custom-loading.scss';
@import './custom-dialog.scss';
@import './custom-popconfirm.scss';
@import './custom-card.scss';
@import './custom-dropdown.scss';
@import './custom-message.scss';
@import './custom-drawer.scss';
