/** ==== 背景图片元素专用 === */
.cover
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

/** ==== 容器元素专用 === */
.scrollable
  &.no-x
    overflow-x: hidden
  &.is-y
    overflow-y: auto
    -webkit-overflow-scrolling: touch

/** ==== 文字元素专用 === */
.color-primary-blue
  color: $primary-green

.color-primary-red
  color: $primary-red

.size-small
  font-size: 12px
  line-height: 17px

.font-weight-semi-bold
  font-weight: 600

  /.device-android &
    // 安卓平台下特殊处理

.text-overflow
  text-overflow()

  &-wrapper
    min-width: 0
