@font-face
  font-family: 'Gilmer OnlyBold'
  font-weight: bold
  src: local('Gilmer Bold'), local('Gilmer-Bold'), url("fonts/Gilmer-Bold.woff") format('woff')
@font-face
  font-family: 'Gilmer OnlyBold'
  font-weight: bold
  src: local('Gilmer Bold'), local('Gilmer-Bold'), url("fonts/Gilmer-Bold.woff") format('woff')

@font-face
  font-family: 'Gilmer Bold'
  src: local('Gilmer Bold'), local('Gilmer-Bold'), url("fonts/Gilmer-Bold.woff") format('woff')

@font-face
  font-family: 'Gilmer Medium'
  font-style: normal
  src: local('Gilmer Medium'), local('Gilmer-Medium'), url("fonts/Gilmer-Medium.woff") format('woff')

@font-face
  font-family: 'Gilmer Regular'
  font-style: normal
  src: local('Gilmer Regular'), local('Gilmer-Regular'), url("fonts/Gilmer-Regular.woff") format('woff')

@font-face
  font-family: 'Gilmer Light'
  font-style: normal
  src: local('Gilmer Light'), local('Gilmer-Light'), url("fonts/Gilmer-Light.woff") format('woff')

// 直接以 Gilmer 命名，适用多种 font-weight
@font-face
  font-family: 'Gilmer'
  font-weight: 300
  src: local('Gilmer Light'), local('Gilmer-Light'), url("fonts/Gilmer-Light.woff") format('woff')

@font-face
  font-family: 'Gilmer'
  font-style: normal
  src: local('Gilmer Regular'), local('Gilmer-Regular'), url("fonts/Gilmer-Regular.woff") format('woff')

@font-face
  font-family: 'Gilmer'
  font-weight: 500
  src: local('Gilmer Medium'), local('Gilmer-Medium'), url("fonts/Gilmer-Medium.woff") format('woff')

@font-face
  font-family: 'Gilmer'
  font-weight: 600
  src: local('Gilmer Medium'), local('Gilmer-Medium'), url("fonts/Gilmer-Medium.woff") format('woff')

@font-face
  font-family: 'Gilmer'
  font-weight: 700
  src: local('Gilmer Bold'), local('Gilmer-Bold'), url("logo/rctAIlogo_whitebg.svg") format('woff')

@font-face
  font-family: 'Signika'
  font-weight: 300
  src: local('Signika Light'), local('Signika-Light'), url("fonts/Signika-Light.woff") format('woff')

@font-face
  font-family: 'Signika'
  font-style: normal
  src: local('Signika Regular'), local('Signika-Regular'), url("fonts/Signika-Regular.woff") format('woff')

@font-face
  font-family: 'Signika'
  font-weight: 500
  src: local('Signika Medium'), local('Signika-Medium'), url("fonts/Signika-Medium.woff") format('woff')

@font-face
  font-family: 'Signika'
  font-weight: 600
  src: local('Signika SemiBold'), local('Signika-SemiBold'), url("fonts/Signika-SemiBold.woff") format('woff')

@font-face
  font-family: 'Signika'
  font-weight: 700
  src: local('Signika Bold'), local('Signika-Bold'), url("fonts/Signika-Bold.woff") format('woff')
