// @TODO: 使用 SVG 图标组件取代 Atomic Class
.img-icon
  display: inline-block
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

  &,
  &.size-default
    width: 32px
    height: 32px

  &.size-big
    width: 40px
    height: 40px

  &.size-medium
    width: 20px
    height: 20px

  &.size-small
    width: 14px
    height: 14px

  &.icon-avatar
    background-image: url("~@/assets/icons/icon-avatar.svg")

  &.icon-switch-nft
    width: 28px
    height: 18px
    background-image: url("~@/assets/icons/icon-switch-nft.svg")

    /.mobile-view &
      width: 16px
      height: 11px

  &.icon-locale-tick
    width: 14px
    height: 11px
    background-image: url("~@/assets/icons/icon-locale-tick.svg")

  &.icon-burger-menu
    width: 14px
    height: 11px
    background-image: url("~@/assets/icons/icon-burger-menu.svg")

  &.icon-close
    width: 12px
    height: 11px
    background-image: url("~@/assets/icons/icon-close.svg")

  &.icon-circle-dark-close
    width: 25px
    height: 25px
    background-image: url("~@/assets/icons/icon-circle-dark-close.svg")

    &:hover
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTIuNSIgY3k9IjEyLjUiIHI9IjExLjYwNzEiIGZpbGw9IiM1QjY2ODEiIHN0cm9rZT0iI0RDREZFRSIgc3Ryb2tlLXdpZHRoPSIxLjc4NTcxIi8+CjxsaW5lIHgxPSI3LjM4OTY1IiB5MT0iNy45ODUzNSIgeDI9IjE3LjQ5MTIiIHkyPSIxOC4wODY5IiBzdHJva2U9IiNEQ0RGRUUiIHN0cm9rZS13aWR0aD0iMi4zODA5NSIvPgo8bGluZSB4MT0iMTcuNDkxMiIgeTE9IjcuOTg0MzciIHgyPSI3LjM4OTY4IiB5Mj0iMTguMDg1OSIgc3Ryb2tlPSIjRENERkVFIiBzdHJva2Utd2lkdGg9IjIuMzgwOTUiLz4KPC9zdmc+Cg==")

  &.icon-user-astronaut
    width: 21px
    height: 23px
    background-image: url("~@/assets/icons/icon-user-astronaut.svg")

  &.icon-checkbox
    width: 20px
    height: 20px
    background: #DFE4EF
    border-radius: 4px

  &.icon-checkbox-checked
    width: 20px
    height: 20px
    background-image: url("~@/assets/icons/icon-checkbox-checked.svg")

  metas = accompany collector level session token mark reply market ranking language
  for meta in metas
    &.icon-meta-{meta}
      background-image: url(s('~assets/icons/icon-meta-%s.svg', meta))
