*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent

html
  font-size: 16px
  user-select: none
  -webkit-font-smoothing: antialiased
  touch-action: manipulation
  text-size-adjust: none

body
  font-family: $v-font-base
  margin: 0
  font-size: 14px
  line-height: 1.428572
  background-color: #222426
  color: $v-secondary-color

body,
ol,
ul,
dl,
dd,
button
  margin: 0
  padding: 0

ol,
ul
  list-style: none

a
  text-decoration: none
  outline: none
  color: inherit

a,
img
  -webkit-touch-callout: none

img
  display: block
  max-width: 100%

input,
button,
textarea,
select
  outline: none
  border: none
  font-size: inherit
  font-family: inherit

p,
h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  font-weight: 400

textarea
  resize: none

button
  display: block

select
  background-color: transparent
  appearance: none

input[type="button"],
input[type="submit"],
input[type="reset"]
  appearance: button
